* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	max-width: 100vw;
	margin: 0 0 5vh 0;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.5;
}

.App{
	display: flex;
	align-content: space-between;
	flex-direction: column;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// @media (min-width: 600px) {
// 	body {
// 		background: #c9e1ff;
// 	}
// }
