* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Noto Sans', sans-serif;
}

body {
	max-width: 100vw;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.5;
}

.App {
	display: flex;
	align-content: space-between;
	flex-direction: column;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:focus,
button:focus {
	outline: 0;
}

button:active {
	box-shadow: 0 1px rgb(168, 167, 167);
	transform: translateY(1px);
}

// @media (min-width: 600px) {
// 	body {
// 		background: #c9e1ff;
// 	}
// }
