.page__dashboard {
	h1,
	h4,
	h6 {
		font-weight: 200;
		font-family: 'Noto Sans', sans-serif;
	}
	img {
		width: 25vw;
		// margin: 3vw;
		max-width: 125px;
		align-self: center;
	}
}

.button__add-stock {
	font-size: 1em;
	white-space: nowrap;
	width: 12em;
	font-size: 1em;
	padding: 0.2em;
	background-color: rgb(89, 192, 120);
	border: 1px solid rgb(89, 192, 120);
	border-radius: 2em;
	color: white;
	margin-bottom: 4vw;
	.button__add-stock:first-child {
		margin-top: 3em;
	}
}

.button__remove-stock {
	font-size: 1em;
	white-space: nowrap;
	width: 12em;
	padding: 0.2em;
	background-color: red;
	border: 1px solid RGB(243, 69, 63);
	border-radius: 2em;
	color: white;
	margin-top: 1em;
	margin-bottom: 5em;
}
