.page__dashboard {
  h1,
  h4,
  h6 {
    font-weight: 200;
    font-family: 'Noto Sans', sans-serif;
  }
}

.button__add-stock {
  width: 12em;
  padding: 0.8em;
  background-color: RGB(89, 192, 120);
  border: 1px solid RGB(89, 192, 120);
  border-radius: 2em;
  color: white;
  margin-bottom: 3vw;
  margin-top: 3em;
}
