.page__dashboard {
  h1,
  h4,
  h6 {
    font-weight: 200;
    font-family: 'Noto Sans', sans-serif;
  }
}

.button__add-stock {
  width: 12em;
  padding: 0.8em;
  background-color: RGB(0, 164, 138);
  border: 1px solid RGB(0, 164, 138);
  border-radius: 2em;
  color: white;
}
