.page-and-tab-bar {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Noto Sans', sans-serif;
	h2 {
		justify-self: flex-start;
	}
	img {
		width: 25vw;
		margin: 8vw;
	}
}

.form__add-stock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0 5em;
	input,
	select {
		width: 20em;
		margin-bottom: 4em;
		padding: 0.8em;
		background-color: #eff2f4;
		border: 1px solid #eff2f4;
		border-radius: 2em;
	}
	button {
		width: 12em;
		padding: 0.8em;
		margin: 0 1em;
		// background-color: rgb(89, 192, 120);
		// border: 1px solid rgb(89, 192, 120);
		border-radius: 2em;
		color: white;
	}
	.addbuttonStock {
		background-color: rgb(89, 192, 120);
		border: 1px solid rgb(89, 192, 120);
	}
}
