.page__wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
  input,
  select {
    width: 20em;
    margin-bottom: 2em;
    padding: 0.8em;
    background-color: #eff2f4;
    border: 1px solid #eff2f4;
    border-radius: 2em;
  }
  button {
    width: 12em;
    padding: 0.8em;
    background-color: RGB(0, 164, 138);
    border: 1px solid RGB(0, 164, 138);
    border-radius: 2em;
    color: white;
  }
}
