@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

.tab-nav-container {
	align-self: center;
	border-top: 2px solid lightgrey;
	background-color: rgba(220, 67, 96, 1);
	display: flex;
	font-size: 1.5em;
	// justify-items: center;
	justify-content: space-between;
	width: 100vw;
	max-height: 60px;
	padding: 0 1em;
	// position: -webkit-sticky;
	position: fixed;
	bottom: 0;
}

.linkIcon,
.linkIconSelect {
	align-self: center;
	position: relative;
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
	display: flex;
	// font-size: 1em;
	align-items: center;
	justify-content: center;
	// justify-content: space-between;
}
.linkIconSelect {
	color: RGB(220, 67, 96);
	background-color: white;
	animation: pulse 0.5s ease-in;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0.3em rgba(255, 255, 255, 1);
	}
	100% {
		box-shadow: 0 0 0 0em rgba(255, 255, 255, 0);
	}
}
