@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

.tab-nav-container {
  align-self: center;
  background-color: RGB(220, 67, 96);
  // background-color: #fff;
  display: flex;
  font-size: larger;
  justify-items: center;
  justify-content: space-between;
  // padding: 1em 1em 3em;
  width: 100vw;
  max-height: 50px;
  // position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  /* 	border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
  color: green;
  // justify-content: space-between;

  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.linkIcon {
  font-size: larger;
  color: RGB(220, 67, 96);
  background-color: white;
  border-radius: 100%;
}
