.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 1.5vw;
  font-size: small;
  background-color: #fd2881;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  width: 100vw;
  border-radius: 0.1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: sticky;
  top: 0;
  button{
    padding: 0.4em;
  }
}

a:-webkit-any-link {
  margin: 0.6em;
  text-decoration: none;
  color: white;
}

.menu-navbar > a:last-child {
  border: solid 0.04em;
  border-radius: 1em;
  padding: 0.4em;
  color: #fd2881;
  background-color: white;
  border-color: black;
}
