.header {
	justify-content: center;
	padding-top: 6em;
	background-image: url('/bg1.jpg');
	background-color: #ffffff;
	background-size: cover;
	background-blend-mode: multiply;
	width: 100%;
}

.secondary-text {
	padding-top: 4em;
}

.signin-button {
	background-color: #fd2881;
}
